@using KR.Core
@using KR.Core.Mocks
@using System.Web
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    @*@{
        if (ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "chart")
        {

            <!--Load the AJAX API-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

            @if (ViewContext.RouteData.Values["Action"].ToString().ToLower() == "education")
            {

                <script type="text/javascript">
                    google.charts.load('current', {
                        packages: ['corechart', 'bar']
                    });
                    google.charts.setOnLoadCallback(firstStep);

                    function firstStep() {
                        $.getJSON('/Chart/GetChartData', secondStep);
                    }

                    function secondStep(data) {
                        var chartTitle = ['Младше 30', 'От 30 до 50', 'Старше 50'];
                        var chartCode = ['ageFirst', 'ageSecond', 'ageThird'];
                        var inChartData;
                        var options;
                        var chart

                        for (var i = 0; i < 3; i++) {
                            inChartData = new google.visualization.DataTable();
                            inChartData.addColumn('string', 'Labels');
                            inChartData.addColumn('number', 'Values');

                            for (var j = 0; j < 2; j++) {
                                inChartData.addRow([data[2*i+2*j], data[(2*i+2*j)+1]]);
                            }

                            options = {
                                title: chartTitle[i]
                            };

                            chart = new google.visualization.PieChart(document.getElementById(chartCode[i]));

                            chart.draw(inChartData, options);
                        }

                        return false;
                    }

                </script>

            }

        } 

    }*@ 
</head>
<body>
    <div>

        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
            <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Система учета кадров</a>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/Workers/List">
                                    Список сотрудников
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Workers/List/Younger30">
                                    Список сотрудников моложе 30
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Workers/GenderDivision">
                                    Средний возраст мужчин и женщин среди сотрудников
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Workers/List/ThisYearWorkers">
                                    Список сотрудников, нанятных на работу в этом году 
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Chart/AgeEducation">
                                    Графики изменения уровня образования от возраста
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Chart/Age">
                                    Возрастное соотношение сотрудников
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Chart/Education">
                                    Соотношение сотрудников относительно уровня образования
                                </a>
                            </li>

                        </ul>


                    </div>
                </nav>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <h1 class="h2">@ViewBag.Title</h1>
                        @{
                            if (ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "workers" &&
                                ViewContext.RouteData.Values["Action"].ToString().ToLower() == "list")
                            {
                                <div class="btn-toolbar mb-2 mb-md-0">
                                    <div class="btn-group mr-2">
                                        <button class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/Workers/Add'">Добавить запись</button>
                                    </div>
                                </div>

                            }
                        }
                    </div>
                    @RenderBody()
                </main>
            </div>
        </div>


    </div>
</body>
</html>
