@{
    Layout = "_Layout";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    google.charts.load('current', {
        packages: ['corechart', 'bar']
    });
    google.charts.setOnLoadCallback(firstStep);

    function firstStep() {
        $.getJSON('/Chart/GetAgeChartData', secondStep);
    }

    function secondStep(data) {
        var inChartData = new google.visualization.DataTable();
        inChartData.addColumn('string', 'Labels');
        inChartData.addColumn('number', 'Values');

        for (var i = 0; i < 3; i++) {
            inChartData.addRow([data[2 * i], data[2 * i + 1]]);
        }

        var options = {
            title: 'Возрастное соотношение сотрудников'
        };

        var chart = new google.visualization.PieChart(document.getElementById('ageChart'));

        chart.draw(inChartData, options);

        return false;
    }

</script>

<div id="ageChart" style="width: 500px; height: 300px"></div>
