@using KR.Core.Mocks

@{
    Layout = "_Layout";
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    google.charts.load('current', {
        packages: ['corechart', 'bar']
    });
    google.charts.setOnLoadCallback(firstStep);

    function firstStep() {
        $.getJSON('/Chart/GetEducationChartData', secondStep);
    }

    function secondStep(data) {
        var inChartData = new google.visualization.DataTable();
        inChartData.addColumn('string', 'Labels');
        inChartData.addColumn('number', 'Количество сотрудников');

        for (var i = 0; i < @WorkersMock.edTypes.Length; i++) {
            inChartData.addRow([data[2 * i], data[2 * i + 1]]);
        }

        var options = {
            title: 'Столбиковая диаграмма'
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('EducationChart'));

        chart.draw(inChartData, options);

        return false;
    }

</script>

<div id="EducationChart" style="width: 1000px; height: 300px"></div>

