@using KR.Core.Mocks

@{
    Layout = "_Layout";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
    google.charts.load('current', {
        packages: ['corechart', 'bar']
    });
    google.charts.setOnLoadCallback(firstStep);

    function firstStep() {
        $.getJSON('/Chart/GetAgeEducationDivisionChartData', secondStep);
    }

    function secondStep(data) {
        var chartTitle = ['Младше 30', 'От 31 до 50', 'Старше 51'];
        var chartCode = ['ageFirst', 'ageSecond', 'ageThird'];
        var inChartData;
        var options;
        var chart

        for (var i = 0; i < 3; i++) {
            inChartData = new google.visualization.DataTable();
            inChartData.addColumn('string', 'Labels');
            inChartData.addColumn('number', 'Values');

            for (var j = 0; j < @WorkersMock.edTypes.Length; j++) {
                inChartData.addRow([data[2 * @WorkersMock.edTypes.Length * i + 2 * j], data[(10 * i + 2 * j) + 1]]);
            }

            options = {
                title: chartTitle[i]
            };

            chart = new google.visualization.PieChart(document.getElementById(chartCode[i]));

            chart.draw(inChartData, options);
        }

        return false;
    }

</script>

<div id="ageFirst" style="width: 500px; height: 300px"></div>
<div id="ageSecond" style="width: 500px; height: 300px"></div>
<div id="ageThird" style="width: 500px; height: 300px"></div>
